<!DOCTYPE html>
<html lang="en">
<!-- begin::Head -->
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="description" content="Description">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    # Add common css files here
    <link href="../static/theme/css/vendors.bundle.css" rel="stylesheet" type="text/css"/>
    <link href="../static/theme/css/style.bundle.css" rel="stylesheet" type="text/css"/>
    <link rel="icon" href="../static/favicon.ico" />

    {% block styles %}{% endblock %}
</head>
{% block body %}{% endblock %}
</html>